/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Verdana-Bold";
  src: url("./fonts/VerdanaBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/VerdanaBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/VerdanaBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/VerdanaBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/VerdanaBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/VerdanaBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/VerdanaBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}