html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*start tanya*/

/*finish tanya*/

.body {
  font-size: 16px;
  font-family: "RobotoLight";
  min-width: 260px;
}

.head {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 3px 2px 1px rgba(6, 87, 142, 0.41);
  box-shadow: 0 3px 2px 1px rgba(6, 87, 142, 0.41);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin: 27px 0;
}

.logo {
  font-size: 26px;
  font-family: "RobotoMedium";
  text-decoration: none;
  color: #000000;
}

.logo_blue {
  color: #5578e6;
}

/*menu*/

.menu {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  text-decoration: none;
  color: #808080;
  padding: 0px 10px 10px 10px;
  display: block;
  font-size: 18px;
}

.header__menu-underlined {
  height: 2px;
  width: 120px;
}

.header__menu-underlined-item {
  height: 2px;
  width: 60px;
  background: #5578e6;
  position: relative;
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

/*hero*/

.hero {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  background-image: -webkit-radial-gradient(circle farthest-side at 85% 50%, #31b7f3, #0771b9);
  background-image: radial-gradient(circle farthest-side at 85% 50%, #31b7f3, #0771b9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__text {
  color: #ffffff;
  text-align: center;
  height: 100%;
}

.hero__text_cenered {
  font-size: 4.25rem;
}

/*boxes*/

.main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
}

.boxes__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 67px;
  font-family: "RobotoLight";
}

.boxes__block {
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
  margin: 5px;
  background: #dedede;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 32px 25px;
  font-size: 13px;
  line-height: -webkit-calc(1.3846rem + 4.32px);
  line-height: calc(1.3846rem + 4.32px);
}

.boxes-title {
  font-size: 27px;
  margin: 0 auto;
  text-align: center;
  width: 470px;
  color: #797979;
  position: relative;
}

.boxes-title:before,
.boxes-title:after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: lightGrey;
  position: absolute;
  top: 50%;
  left: 0;
}

.boxes-title:after {
  left: 320px;
}

/*filter*/

.main__filter {
  padding-top: 91px;
}

.filter__button {
  margin: 59px auto 65px;
  width: 280px;
}

.button {
  padding: 7px 15px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #0474bc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #0474bc;
  cursor: pointer;
}

.button:hover {
  background: #0474bc;
  color: #ffffff;
}

.js-button_active {
  background: #0474bc;
  color: #ffffff;
}

.button_margin {
  margin-left: 27px;
}

.filter__wrapper {
  position: relative;
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  background: #ffffff;
  margin: 0;
}

.filter__item {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin: 5px 0;
}

.filter_first {
  z-index: 2;
}

.js-filter_padding1 {
  margin-bottom: 153px;
}

.js-filter_padding2 {
  margin-bottom: 153px;
}

.filter_second {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.img {
  display: block;
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

/*footer*/

.footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: #1a1a1a;
  color: #ffffff;
  position: relative;
  z-index: 5;
  padding: 40px 0 84px;
}

.footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__logo {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.footer__odkazu1 {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.footer__odkazu2 {
  width: -webkit-calc(41.66666666666667% - 30px);
  width: calc(41.66666666666667% - 30px);
}

.logo_white {
  color: #ffffff;
}

.logo__text {
  margin-top: 16px;
  line-height: 24px;
  font-size: 12px;
}

.odkazu__button {
  padding: 7px 20px;
  font-size: 14px;
  background: #000000;
  border: 1px solid #787878;
  color: #787878;
  cursor: pointer;
  margin-right: 16px;
}

.odkazu__button:hover {
  border: 1px solid #0474bc;
  color: #0474bc;
}

.odkazu__link {
  display: block;
  color: #787878;
  text-decoration: none;
  padding: 11px 15px 5px;
  position: relative;
}

.odkazu__link:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  display: block;
  border-top: 5px solid transparent;
  border-left: 7px solid #787878;
  border-bottom: 5px solid transparent;
}

.odkazu-title {
  margin-bottom: 17px;
  position: relative;
  padding: 8px 0;
}

.odkazu-title:before,
.odkazu-title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 83px;
  height: 1px;
  background: #0474bc;
}

.odkazu-title:after {
  left: 83px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .main {
    width: 750px;
  }
}

@media screen and (min-width: 993px) {
  .container {
    width: 970px;
  }

  .main {
    width: 970px;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    width: 1170px;
  }

  .main {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .boxes__blocks {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .boxes__blocks {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .boxes__block {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .boxes__block_md-center {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .filter {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .filter__item {
    width: -webkit-calc(41.66666666666667% - 30px);
    width: calc(41.66666666666667% - 30px);
  }

  .js-filter_padding1 {
    margin-bottom: 80px;
  }

  .js-filter_padding2 {
    margin-bottom: -140px;
  }

  .footer {
    padding-bottom: 50px;
  }

  .footer__logo {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }

  .footer__odkazu1 {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }

  .footer__odkazu2 {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .boxes__block {
    width: -webkit-calc(83.33333333333334% - 30px);
    width: calc(83.33333333333334% - 30px);
  }

  .boxes__block {
    line-height: 1.3846rem;
  }

  .filter__item {
    width: -webkit-calc(41.66666666666667% - 30px);
    width: calc(41.66666666666667% - 30px);
  }

  .footer__logo {
    width: -webkit-calc(41.66666666666667% - 30px);
    width: calc(41.66666666666667% - 30px);
  }

  .footer__logo {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
  }

  .footer__odkazu1 {
    width: -webkit-calc(91.66666666666667% - 30px);
    width: calc(91.66666666666667% - 30px);
  }

  .footer__odkazu2 {
    width: -webkit-calc(41.66666666666667% - 30px);
    width: calc(41.66666666666667% - 30px);
  }

  .footer__odkazu2 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .logo__text {
    margin-bottom: 30px;
  }

  .odkazu__button_margin {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__text_cenered {
    font-size: 2.375rem;
  }

  .main {
    padding-top: 60px;
  }

  .boxes__blocks {
    margin-top: 40px;
  }

  .boxes__block {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .boxes__block {
    padding: 20px;
  }

  .boxes-title:before,
  .boxes-title:after {
    width: 80px;
  }

  .boxes-title:after {
    left: 210px;
  }

  .boxes-title {
    width: 300px;
  }

  .main__filter {
    padding-top: 60px;
  }

  .filter__button {
    width: 245px;
    margin: 39px auto 45px;
  }

  .button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .filter__item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .js-filter_padding1 {
    margin-bottom: 60px;
  }

  .js-filter_padding2 {
    margin-bottom: -110px;
  }

  .footer {
    padding-bottom: 10px;
  }

  .footer__logo {
    width: -webkit-calc(91.66666666666667% - 30px);
    width: calc(91.66666666666667% - 30px);
  }

  .footer__odkazu1 {
    margin-bottom: 30px;
  }

  .footer__odkazu1 {
    width: -webkit-calc(91.66666666666667% - 30px);
    width: calc(91.66666666666667% - 30px);
  }

  .footer__odkazu2 {
    width: -webkit-calc(91.66666666666667% - 30px);
    width: calc(91.66666666666667% - 30px);
  }
}

@media screen and (max-width: 320px) {
  .boxes-title:before,
  .boxes-title:after {
    width: 60px;
  }

  .boxes-title:after {
    left: 160px;
  }

  .boxes-title {
    width: 220px;
  }

  .filter__button {
    width: 218px;
  }

  .button_margin {
    margin-left: 8px;
  }

  .js-filter_padding2 {
    margin-bottom: -80px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .hero__text_cenered {
    font-size: -webkit-calc(2.375rem + ((68 - 38) / (1200 - 480)) * 100vw - ((68 - 38) / (1200 - 480)) * 480px);
    font-size: calc(2.375rem + ((68 - 38) / (1200 - 480)) * 100vw - ((68 - 38) / (1200 - 480)) * 480px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .boxes__block {
    line-height: -webkit-calc(1.3846rem + 1vw - 7.68px);
    line-height: calc(1.3846rem + 1vw - 7.68px);
  }
}